
/**
 * JackDB logo.
 */

.logo[data-logo="JackDB"] {
  width: 0;
}

.logo[data-logo="JackDB"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="JackDB"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="JackDB"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
